// TIPOGRAFIA
$basic-font = 'Coda', cursive


// GRUPOS DE CORES

// GRAY GROUP
$gray-one = #dadada
$gray-two = #ddd

// YELLOW GROUP
$yellow-cheese = #ffc20e

// GREEN GROUP
$green-one = #2a433a


// BREAKPOINTS
$mobile = 320px
$tablet = 768px
$laptop = 1024px
$desktop = 1440
