// TIPOGRAFIA
$basic-font = 'Coda', cursive


// GRUPOS DE CORES

// WHITE GROUP
$main-white = #ffffff

// GRAY GROUP
$gray-one = #dadada
$gray-two = #ddd
$gray-three = #808080
$gray-four = #464646

// YELLOW GROUP
$yellow-cheese = #ffc20e

// GREEN GROUP
$green-one = #2a433a


// BREAKPOINTS
$mobile = 320px
$tablet = 768px
$laptop = 1024px
$desktop = 1440px
