<header class="header clearfix">
    <div class="container">
        <div class="title pull-left">
            <h1>&#60;&#47;Ednilson Amaral&#62;</h1>
        </div>

        <div class="menu pull-right">
            <nav class="menu-navigation">
                <div class="menu-toggle">
                    <a href="#" id="nav-toggle"><span></span></a>
                </div>

                <ul>
                    <li class="menu-item"><a class="menu-link" href="/">Home</a></li>
                    <li class="menu-item"><a class="menu-link" href="/about">About me</a></li>
                    <li class="menu-item"><a class="menu-link" href="/portfolio">Portfolio</a></li>
                    <li class="menu-item"><a class="menu-link" href="/blog">Blog</a></li>
                    <li class="menu-item"><a class="menu-link" href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div><!-- fim do /.container -->
</header><!-- end of header -->
