.titleAnimation
    animation-name titleAnimation
    animation-duration 1.2s
    animation-delay 1s
    animation-fill-mode forwards
    animation-timing-function cubic-bezier(0.25,0.1,0.25,1)
    -ms-transform translateY(10%)
    transform translateY(10%)

    &::before, &::after
        transition opacity 0.2s ease-in-out
