.wrapper-cards
    // margin-top 30px

    +below($tablet)
        padding 10px

    .card-legend
        position relative
        display block
        margin 20px 0
        text-shadow 1px 1px 1px $gray-three

        .tags
            position relative
            // margin-top 22px
            padding 0

    .card
        min-height 590px
        height auto
        margin 15px 0
        background $main-white
        box-shadow 1px 1px 2px $gray-three
        // display block
        position relative

        +above($tablet)
            col(1/2)
            min-height 600px
            height auto
            margin 0 10px 15px 0

        +above($laptop)
            col(1/3)
            min-height 680px
            height auto
            margin 0 20px 15px 0

            &:nth-child(4)
                margin 0 0 15px 0

        .image
            //-

            img
                width 100%

                +below($tablet)
                    height 200px

        .text
            // -

            .content
                padding 10px

            .title-project, .partner-project
                text-align center
                color $green-one

            .title-project
                set-font-size(18px)
                font-weight bold
                margin-bottom 10px

            .partner-project
                set-font-size(16px)
                font-style italic
                font-weight normal
                margin-bottom 20px

            p
                set-font-size(14px)
                margin-bottom 10px

            .result-project
                width 80%
                background #5290e9
                margin 0 auto
                padding 10px 15px
                font-style italic
                text-align center
                text-transform uppercase
                color $main-white

                a
                  cursor pointer

                  &:active, &:visited, &:hover
                      color $main-white

    .card-post
        min-height 500px
        height auto
        background $main-white
        box-shadow 1px 1px 2px $gray-three
        margin 10px 0

        +above($tablet)
            col(1/2, cycle:2)

        +above($laptop)
            col(1/3, uncycle:2, cycle:3)

        .image
            //-

            img
                width 100%
                height 288px

        .text
            padding 10px

            .title-project
                set-font-size(24px)
                font-weight bold
                text-align center
                color $green-one

            .post-meta
                set-font-size(12px)
                font-style italic

            p
                set-font-size(14px)
                margin 10px 0
                text-align justify

            .link-leia-mais
                background $green-one
                padding 2px 8px
                margin-bottom 10px

                &:hover
                    background $yellow-cheese
                    border 1px solid $green-one

                    a
                        color $green-one
                        text-decoration none

                a
                    color $yellow-cheese
                    text-decoration none
