.post-comments
    border-top 1px solid $green-one
    margin 20px 0

    .comments
        margin-top 10px

        .title
            set-font-size(28px)
            color $green-one
            font-weight bold

        #disqus_thread
            margin 10px 0
