.footer-home
    center(100%)
    display inline-block

    nav
        opacity 0
        @extends .titleAnimation
        animation-duration 1.8s
        animation-delay 2.5s
        -ms-transform translateY(0)
        transform translateY(0)

        ul
            li
                display inline
