.footer
    margin-top 20px
    border-top 1px solid $green-one

    .text
        padding 10px

        .title
            set-font-size(12px)
            text-align center
            color $green-one

            +above($tablet)
                set-font-size(16px)

            a
                color $green-one
                font-weight bold

                &:hover
                    text-decoration underline
