.footer
    margin-top 20px
    border-top 1px solid $green-one
    .text
        padding 10px

        .title
            set-font-size(12px)
            text-align center
            color $green-one

            +above($tablet)
                set-font-size(16px)

            a
                color $green-one
                font-weight bold

                &:hover
                    text-decoration underline

    .social-icons
        center(165px)
        margin-bottom 10px
        padding 10px
        padding-bottom 0

        ul
            list-style none
            width 100%

        li
            float left
            position relative
            width auto
            margin-right 5px

            &:last-child
                margin-right 0

        a
            display block
