iframe
  width 700px
  height 450px
  display flex
  align-items center
  align-content center
  margin 0 auto

  +below($tablet)
    width 280px
    height 150px

  +below($laptop)
    width 600px
    height 350px
