.container
    center(1440px)
    //background-color red

    +below($laptop)
        width auto
        max-width 800px

.container-bg
    background $main-white

.wrapper
    margin-top 20px

    +below($tablet)
        padding 10px

// Margens e espaçamentos personalizados
.no-margin-right
    margin-right 0

.no-margin-bottom
    margin-bottom 0

.basic-margin-bottom
  margin-bottom 50px
