.menu-home
    width auto
    height auto
    background-color red
    margin-top 20px

    li
        width 70px
        margin 0 auto
        text-align center
        margin-right 9px
        padding 10px
        background-color $gray-one
        border-radius 50%
        border 2px solid $yellow-cheese
        display inline
        float left
        list-style none !important
        text-align center
        cursor pointer

        &:last-child
            margin-right 0

        a
            color $green-one
            font-weight bold

        &:hover
            background-color $green-one

            a
                color $yellow-cheese
