.menu-home
    center(290px)
    margin-top 20px
    margin-bottom 20px
    opacity 0
    @extends .menuHomeAnimation


    ul
        list-style none
        width 100%

    li
        float left
        position relative
        width auto
        margin-right 15px

        &:last-child
            margin-right 0

        &:nth-child(2)
            width 82px

    a
        background-color $gray-two
        color $green-one
        border 1px solid $yellow-cheese
        border-radius 50%
        display block
        padding 10px

    li:hover
        a
            background-color $green-one
            color $yellow-cheese
