.post
    padding 0 10px 10px
    background $main-white
    box-shadow 1px 1px 1px $gray-three

    +below($tablet)
        box-shadow none

    +above($tablet)
        padding 0 20px 20px

    .post-header
        //-

        .post-title
            color $green-one
            text-decoration underline
            set-font-size(20px)
            margin-bottom 30px

            +above($tablet)
                set-font-size(40px)

    .post-content
        text-align justify
        letter-spacing 1px
        font-weight normal

        +below($tablet)
            set-font-size(14px)

        img
            center(100%)

        p
            set-font-size(16px)
            margin-bottom 30px
            color $gray-four

            +below($tablet)
                set-font-size(14px)

            img
                center(100%)

        h2, h3, h4
            margin-top 15px
            margin-bottom 15px

        h2, h3
            text-decoration underline

        h4
            font-style italic

        ul
            list-style disc

        ol, ul
          margin-left 50px
          margin-bottom 30px

          li
            margin-bottom 5px

        blockquote
          p
            font-size 20px
            font-weight bold
            font-style italic
