.tags
    padding 10px
    position absolute
    bottom 0


    .descricao-tech
        margin-top 20px
        margin-bottom 10px
        set-font-size(16px)
        color $green-one

    span
        display inline-block
        margin 5px 0
        padding 2px 8px
        color $main-white

    .text
        color $gray-four
        text-shadow none

    .frontend
        background #f9b560

    .backend
        background #029e88

    .html
        background #e44d26

    .css
        background #036fb8

    .js
        background #feda36

    .bootstrap
        background #563b7d

    .php
        background #6c7eb7

    .mysql
        background #ce804f

    .mongodb
        background #53ab4d

    .nodejs
        background #83cd29

    .angular
        background #e23337

    .express
        background #323232

    .mobile-first
        background #6e6e6e

    .sass
        background #cc6699

    .stylus
        background #b3d107

    .gulp
        background #e94b4b

    .jeet
        background #ff6649

    .pug
        background #4e927d

    .rupture
        background #333333

    .responsive
        background #004b85

    .ionic
        background #4e8ef7

    .wordpress
        background $gray-four

    .opencart
        background #32c5f0

    .pro
        background #B8860B

    .open
        background #EE82EE

    .vuejs
        background #41b883

    .materialize
        background #ee6e73

    .klipfolio
        background #5290e9

    .dashboard
        background #2a3f54

    .data-analyst
        background #ff6700

    .mean
        background #63a8b8

    .firebase
        background #f5820c

    .api
        background-color #02a095

    .ios
      background-color #c9c9c9

    .android
      background-color #94c147

    .electronjs
      background-color #9ee9f8

    .hapijs
      background-color #4f4e3f
