.home
    width auto
    height 100%
    padding 0 10px
    background-color $green-one
    background url('../img/background-home.jpg') center center no-repeat
    background-size cover
    justify-content center
    text-align center

    +below($tablet)
        height auto

    .wrapper-home
        margin-top 15%

        +below($tablet)
            top 0
            position relative

    .header-home
        width auto
        margin 0 auto
        text-align center
        // border-bottom 1px solid $yellow-cheese
        opacity 0
        @extends .titleAnimation
        animation-duration .8s
        animation-delay .6s
        -ms-transform translateY(0)
        transform translateY(0)

        .image
            width 180px
            height 180px
            border-radius 50%
            // border 2px solid $yellow-cheese
            box-shadow 1px 5px 5px rgba(42, 67, 58, .8)
            // padding 5px

        .heading-group
            // border-bottom 1px solid $yellow-cheese
            padding-bottom 20px

            .title
                display block
                opacity 0
                font-weight bold
                color $main-white
                text-shadow 1px 1px $green-one
                @extends .titleAnimation

            .description
                opacity 0
                display block
                font-weight normal
                color $main-white
                text-shadow 1px 1px $green-one
                @extends .titleAnimation

    .intro
        height auto
        // border-bottom 2px solid $yellow-cheese
        padding 20px 0
        opacity 0
        @extends .titleAnimation
        animation-duration 1.6s
        animation-delay 1.4s
        -ms-transform translateY(0)
        transform translateY(0)

        .text
            set-font-size(12px)
            color $main-white
            text-align center
            text-shadow 1px 1px $green-one

            +above($laptop)
                set-font-size(20px)

            +below($laptop)
                set-font-size(16px)
