.title-servicos
    margin-bottom 20px


.post-servicos
    padding 10px
    text-align center

    .content-servicos
        display inline-block
        margin-right 20px
        margin-bottom 20px

        .oval
            width 300px
            height 120px
            background $green-one
            border 2px solid $yellow-cheese
            border-radius 50%
            display table-cell
            vertical-align middle
            text-align center
            color $yellow-cheese
            padding 20px

            h2
                set-font-size(18px)

            i
                set-font-size(80px)
                margin-bottom 15px
